# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

SERVICE_ID = service_6deza38
TEMPLATE_ID = template_5vzru8h
PKEY= MeRUa4GRNK5eQc_kb
